@page "/logout"
@attribute [Authorize]
@inject NavigationManager NavigationManager

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        NavigationManager.NavigateTo("/api/auth/logout", forceLoad: true);
    }
}